/**
 * Color palette
 * Primary: #18121E (Navy Blue)
 * Others:
 *  #233237 (Gunmetal)
 *  #984B43 (Rusty Red)
 *  #EAC67A (Warm yellow)
 */

/**
 * General styling
 */
 body {
   padding: 0;
   margin: 0;
   font-family: "Lato", sans-serif;
   font-size: 1.5rem;
   line-height: 2.5rem;
   background-color: rgb(247, 240, 210);
}

*:focus {
  outline: dotted 1px;
}

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
}

h2 {
  line-height: 2.6rem;
}

h4, h5, h6 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

a {
  color: rgb(0, 116, 217);
}

.site-container li {
  margin-top: 1rem;
}

code {
  background-color: #f6f3ea;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
}

h1 .less-important {
  font-size: 2rem;
}

.hidden-desktop {
  display: none;
}

@media only screen
and (max-device-width: 500px) {
  body {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .hidden-desktop {
    display: block;
  }

  .hidden-mobile {
    display: none;
  }
}

/**
 * Table styles
 */
table.checkbox-table {
  border-collapse: collapse;
  border-top: 3px solid rgba(0, 116, 217);
  border-bottom: 3px solid rgba(0, 116, 217);
}

.checkbox-table tr td:first-child {
  width: 30px; /** absolute value since checkbox does not scale when zooming in */
  text-align: center;
}

.checkbox-table tr {
  border-bottom: 1px solid rgba(0, 116, 217);
}

.checkbox-table tr:nth-child(odd) {
  background-color: #f6f3ea;
}

.checkbox-table td {
  padding: 0.2rem;
}

/**
 * Header styles
 */
 header {
   width: 100%;
   margin: 0 0 2rem 0;
   padding: 0 5px;
   border-bottom: 1px solid rgb(0, 116, 217);
   position: sticky;
   background-color: white;
 }

 header h1 {
   font-size: 2rem;
 }

 .header-container {
   max-width: 800px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 }

 .header-container .site-title {
   flex: 5 0 12rem;
 }

 .header-container .site-title a {
   color: black;
   text-decoration: none;
 }

 @media only screen
 and (max-device-width: 500px) {
   .header-container .site-title {
     margin-left: 1rem;
   }
 }

 .header-container nav {
   flex: 3 0 10rem;
   align-self: stretch;
   display: flex;
   align-items: stretch;
 }

 .header-container ul {
   flex: 1 0 0;
   display: flex;
   align-items: stretch;
   margin: 0;
   padding: 0;
 }

 .header-container li {
   flex: 1 0 5rem;
   list-style-type: none;
   height: 100%;
   line-height: 2rem;
   text-align: center;
 }

 .header-container nav a {
   display: inline-block;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
 }

 .header-container nav a:hover,
 .header-container nav a:focus {
   background-color: rgb(0, 116, 217);
   color: #fff;
 }

 .header-container a span {
   flex: 1 0 0;
 }

/**
 * Site content container
 */
.site-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

/**
 * Post teaser styles
 */
.post-teaser {
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

.post-teaser__title {
  margin: 1rem 0 0;
  padding: 0;
}

.post-teaser__title a {
  text-decoration: none;
  margin-bottom: 0;
}

.post-teaser__title a:hover,
.post-teaser__title a:focus {
  text-decoration: underline;
}

.post-teaser__metadata {
  font-size: 1rem;
  color: #757575;
  margin: 0;
}

.post-teaser__readon {
  font-size: 1.2rem;
}

a.post-teaser__readon:hover,
a.post-teaser__readon:focus {
  background-color: rgba(0, 116, 217);
  color: white;
  padding: 0.4rem;
  margin-left: -0.4rem;
  border-radius: 3px;
}

/**
 * Single post styles
 */
.single-post-container {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.single-post-container h1 {
  font-size: 2.5rem;
  margin: 0;
  color: rgb(0, 116, 217);
}

.single-post-container h2,
.single-post-container h3,
.single-post-container h4,
.single-post-container h5,
.single-post-container h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.post-metadata p {
  font-size: 1rem;
  color: #757575;
}

.post-metadata p {
  margin: 0;
}
